<!-- views/profile/tags.ejs -->
<!doctype html>
<html>
<head>
	<title>Flicks</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">

	<nav class="navbar navbar-default">
		<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Flicks</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
					<li><a href="/upload">Upload</a></li>
					<li><a href="/friends">Friends</a></li>
					<li class="active"><a href="/profile/photos">Profile</a></li>
					<li><a href="/logout">Logout</a></li>
	      </ul>
				<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= user.email %></a></p>
	    </div>
		</div>
	</nav>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div>
				<ul class="nav navbar-nav">
					<li><a href="/profile/photos">Photostream</a></li>
					<li><a href="/profile/albums">Albums</a></li>
          <li class="active"><a href="/profile/tags">Tags</a></li>
				</ul>
			</div>
		</div>
	</nav>

  <div class="row">
    <!-- Tags -->
    <% if (typeof tags != 'undefined' && tags.length > 0) { %>
        <% for(var i = 0; i < tags.length; i++) { %>
          <form action="/showUserTaggedPhotos" method="post" class="form-show-tagged-photos">
            <input type="hidden" name="tag_name" value="<%= tags[i].name %>">
            <input type="submit" value="<%= tags[i].name %>" class="btn btn-primary btn-xs">
          </form>
        <% } %>
    <% } %>
  </div>


  <div class="row">
    <!-- Show tag chosen -->
    <% if (typeof tag_chosen != 'undefined') { %>
    <h3>Tag: <%= tag_chosen %></h3>
    <% } %>
    <!-- Photos with tag that user just clicked -->
    <% if (typeof photos != 'undefined' && photos.length > 0) { %>
        <% for(var i = 0; i < photos.length; i++) { %>
          <div class="image-container">
            <div class="image-wrapper">
              <a href="<%= photos[i].path %>">
                <img src="<%= photos[i].path %>" />
              </a>
            </div>
          </div>
        <% } %>
    <% } %>
  </div>


</div>
</body>
</html>
