<!-- views/profile/tags.ejs -->
<!doctype html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
<div class="container">

	<header>
		<% include ../partials/profile-header %>
		
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/profile/photos">Photostream</a></li>
						<li><a href="/profile/albums">Albums</a></li>
		        <li class="active"><a href="/profile/tags">Tags</a></li>
						<li><a href="/profile/explore">Explore</a></li>
						<li><a href="/profile/settings">Settings</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>



  <!-- Tags -->
  <% if (typeof tags != 'undefined' && tags.length > 0) { %>
      <% for(var i = 0; i < tags.length; i++) { %>
        <form action="/showUserTaggedPhotos" method="post" class="form-show-tagged-photos">
          <input type="hidden" name="tag_name" value="<%= tags[i].name %>">
          <input type="submit" value="<%= tags[i].name %>" class="btn btn-primary btn-xs">
        </form>
      <% } %>
  <% } %>

  <!-- Show tag chosen -->
  <% if (typeof tag_chosen != 'undefined') { %>
  <h3>Tag: <%= tag_chosen %></h3>
  <% } %>
  <!-- Photos with tag that user just clicked -->
  <% if (typeof photos != 'undefined' && photos.length > 0) { %>
      <% for(var i = 0; i < photos.length; i++) { %>
        <div class="image-container">
          <div class="image-wrapper">
						<a href="/photo?id=<%= photos[i].id %>">
              <img src="<%= photos[i].path %>" />
            </a>
          </div>
        </div>
      <% } %>
  <% } %>

</div>
</body>
</html>
