<!-- views/photos.ejs -->
<!doctype html>
<html>
<head>
	<% include ./partials/head %>
</head>
<body>
<div class="container">

	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Flicks</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<% if (typeof user == 'undefined') { %>
						<li><a href="/login">Login</a></li>
						<li><a href="/signup">Signup</a></li>
						<% } else { %>
						<li><a href="/upload">Upload</a></li>
						<li><a href="/friends">Friends</a></li>
						<li><a href="/profile/photos">Profile</a></li>
						<li><a href="/logout">Logout</a></li>
						<% }%>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<% if (typeof photo != 'undefined') { %>

	<!-- caption -->
	<div class="photo-caption">
		<h4><%= photo.caption %></h4>
	</div>

	<!-- author -->

	<!-- photo -->
	<div class="image-large">
		<a href="<%= photo.path %>">
			<img src="<%= photo.path %>" />
		</a>
	</div>

	<!-- date -->
	<div class="date">
		<%= photo.date_of_creation %>
	</div>

	<!-- tags -->

	<!-- like this photo -->
	<% if (typeof user != 'undefined') { %>
	<div class="photo-like">
		<!-- if user has not liked yet -->
		<% if (!liked) { %>
		<form action="/like" method="post">
			<input type="hidden" name="photo_id" value="<%= photo.id %>">
			<input type="hidden" name="user_id" value="<%= user.id %>">
			<input type="submit" class="btn btn-info btn-xs" name="likePhoto" value="Like">
		</form>
		<% } else { %>
		<form action="/unlike" method="post">
			<input type="hidden" name="photo_id" value="<%= photo.id %>">
			<input type="hidden" name="user_id" value="<%= user.id %>">
			<input type="submit" class="btn btn-warning btn-xs" name="unlikePhoto" value="Unlike">
		</form>
		<% } %>
	</div>
	<% } %>

	<% if (photo.num_likes > 0) { %>
	<!-- number of likes -->
	<div class="photo-num-likes">
		<%= photo.num_likes %> likes:
	</div>

	<!-- liked user -->
	<% if (typeof likedUser != 'undefined' && likedUser.length > 0) { %>
	<div class="photo-liked-user">
		<% for (var i = 0; i < likedUser.length; i++) { %>
			<%= likedUser[i].email %>
			<% if (i < likedUser.length - 1) { %>,<% } %>
		<% } %>
	</div>
	<% } %>
	<% } %>

	<hr>

	<!-- comments -->
	<h4>Comments</h4>
	<hr>
	<% if (typeof comments != 'undefined' && comments.length > 0) { %>
	<div class="comments">
		<% for(var i = 0; i < comments.length; i++) { %>
		<div class="comment">
			<div class="comment-meta">
				<div class="comment-author">
					<%= comments[i].owner_email %>
				</div>
				<span>says: </span>
				<div class="date">
					<%= comments[i].date_of_creation %>
				</div>
			</div>
			<div class="comment-text">
				<%= comments[i].text %>
			</div>
		</div>
		<hr>
		<% } %>
	</div>
	<% } %>

	<!-- leave a comment -->
	<!-- users cannot leave comments for their own photos -->
	<% if (typeof canComment != 'undefined' && canComment == true) { %>
	<form action="/addComment" method="post">
		<% if (typeof user == 'undefined') { %>
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" name="author_email" value="" required>
		</div>
		<% } %>
		<input type="hidden" name="photo_id" value="<%= photo.id %>">
		<div class="form-group">
			<label for="comment">Leave a comment</label>
			<textarea id="comment" class="form-control" name="comment" rows="8" cols="40" aria-describedby="form-allowed-tags" aria-required="true"></textarea>
		</div>
		<input type="submit" class="btn btn-primary" name="addComment" value="Submit">
	</form>
	<% } %>

	<% } %>


</div>
</body>
</html>
