<!-- views/photos.ejs -->
<!doctype html>
<html>
<head>
	<title>Flicks</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Flicks</a>
					</div>
					<div>
						<ul class="nav navbar-nav">
              <% if (typeof user == 'undefined') { %>
                <li><a href="/login">Login</a></li>
  							<li><a href="/signup">Signup</a></li>
              <% } else { %>
                <li><a href="/upload">Upload</a></li>
      					<li><a href="/friends">Friends</a></li>
      					<li><a href="/profile/photos">Profile</a></li>
      					<li><a href="/logout">Logout</a></li>
              <% }%>
						</ul>
					</div>
				</div>
			</nav>


			<% if (typeof photo != 'undefined') { %>
        <!-- photo -->
        <div class="image-large">
          <a href="<%= photo.path %>">
            <img src="<%= photo.path %>" />
          </a>
        </div>

        <!-- caption -->
        <div class="photo-caption">
          <h4><%= photo.caption %></h4>
        </div>

        <!-- date -->
        <div class="">
          <%= photo.date_of_creation %>
        </div>

        <!-- tags -->

        <!-- comments -->

        <!-- leave a comment -->
        <!-- users cannot leave comments for their own photos -->
				<% if (typeof canComment != 'undefined' && canComment == true) { %>
	        <h4>Leave a comment</h4>
	        <form action="/addComment" method="post">
	          <div class="form-group">
							<input type="hidden" name="photo_id" value="<%= photo.id %>">
	            <input type="text" name="comment" value="" class="form-control">
	          </div>
	          <input type="submit" name="addComment" value="Submit">
	        </form>
				<% } %>

      <% } %>


    </div>
</body>
</html>
